[submodule "x11-config"]
	path = x11-config
	url = https://github.com/tecfu/x11-config
[submodule "terminal-config"]
	path = terminal-config
	url = https://github.com/tecfu/terminal-config
[submodule ".vimperator"]
	path = .vimperator
	url = https://github.com/tecfu/.vimperator
[submodule ".terminal"]
	path = .terminal
	url = https://github.com/tecfu/.terminal
