[submodule "x11-config"]
	path = x11-config
	url = https://github.com/tecfu/x11-config
[submodule "terminal-config"]
	path = terminal-config
	url = https://github.com/tecfu/terminal-config
[submodule ".vim"]
	path = .vim
	url = https://github.com/tecfu/.vim
	branch = master
[submodule ".terminal"]
	path = .terminal
	url = https://github.com/tecfu/.terminal
	branch = master
[submodule ".xfce"]
	path = .xfce
	url = https://github.com/tecfu/.xfce.git
[submodule ".surfingkeys"]
	path = .surfingkeys
	url = https://github.com/tecfu/.surfingkeys.git
